{% extends 'shop/layout.html' %}
{% load static %}
{% block title %}
 ORGANIC | login
{% endblock title %}
{% block content %}

{% include "inc/navbar.html" %}

<div class="container mt-4">
  
    <div class="row d-flex align-items-center justify-content-center"> 
      
        <div class="col-10 p-5 mt-4">
           <table class='table table-bordered text-capitalize text-center'>
               <tr>
                 <th>IMAGE</th>
                 <th>PRODUCT NAME</th>
                 <th>QUANTITY</th>
                 <th>UNIT</th>
                 <th>AMOUNT</th>
                 <th>REMOVE</th>
               </tr>
               {% for item in c %}
               <tr>
                 <td><img src="{{item.product.product_image.url}}" height="50px"></td>
                 <td>{{item.product.name}}</td>
                 <td>{{item.product_qty}}</td>
                 <td>{{item.product.selling_price | stringformat:'d'}}</td>
                 <td class="amt">{{item.total_cost | stringformat:'d' }}</td>
                 <td><a href="{% url 'remove_cart' item.id %}" onclick="return confirm('Are You Sure ? to Remove')" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a></td>
               </tr>
               {% endfor %}
               <tr>
                <td></td>
                <td></td>
               
                
                <td colspan="2" ><b>Total Amount</b></td> 
                <td id="net">0</td>
                <td ><a href="">pay now</a></td>
               </tr> 
           </table>
        </div>    
      
  </div>


  <script>
     const nodes = document.querySelectorAll('.amt');
     const arr = Array.from(nodes);
     const res = arr.reduce( (acc, curr) => {
      return acc += Number(curr.textContent)

     },0);
     document.getElementById('net').innerHTML='Rs: '+res;
  </script>  
{% endblock content %}
