{% extends 'shop/layout.html' %}
{% load static %}
{% block title %}
 ORGANIC | signup
{% endblock title %}
{% block content %}



<div class="container">
  
    <div class="row d-flex align-items-center justify-content-center"> 
      
        <div class="col-6 p-5 mt-5">
            <h3 class="mb-3 text-dark">SIGNUP</h3>
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Username</label>
                <input type="text" name="username" class="form-control" id="exampleFormControlInput1" placeholder="Enter Username" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter Email" required>
              </div>
              <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password</label>
                <input type="password" title="minmum 6 character" minlength="5" name="password" class="form-control" id="exampleFormControlInput1" placeholder="Enter Password"required>

              </div>
              <button type="submit" class="btn btn-dark w-100 mb-3">SIGNUP</button>
          </form>
          <p class="text-center">Already user ? <a href="login" class="text-success">login</a></P> 
            
          {% for msg in messages %}
          <p class="text-danger text-center">{{msg}}</p>
          {% endfor %}

        </div>    
        <div class="col-6 p-5">
           
             <img src="{% static 'images/register.png' %}" class="img-fluid">
      
    </div>
  </div>
{% endblock content %}
{% block scripts %}

{% endblock scripts %}